<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Irecommend</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<script src="https://cdn.auth0.com/js/lock/10.15/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('K2BhIttmtzU6yybfTsSRRnWqee5OO9tY', 'irec.eu.auth0.com', {
    auth: {
      redirectUrl: 'http://104.236.61.59:8082/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>

<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="col-xs-12 jumbotron text-center"><h1>Welcome to iRec<h1></div>
    <button class="btn btn-primary btn-lg btn-login btn-block" onclick="lock.show();">Login</button>
  </div>
</div>

</body>
</html>