<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Irec-Front</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
	<div class="col-md-4 col-md-offset-4">
    <div class="col-xs-12 jumbotron text-center">
		<h3>iRec<h3>
		<img class="avatar" src="{{.Picture}}"/>
		<h4>{{.Name}}</h4>
	</div>
			{{range $positions := .Posts}}
			<div class="bg-info">
				<a href=/positions/single/{{$positions.Idpositions}}><h2>{{$positions.Title}}</h2></a>
				<a href=/recommendations/positions/{{$positions.Idpositions}}><h4>See recommendations</h4></a>
				<h3>Reward: {{$positions.Reward}}</h3>
				<h3>{{$positions.Subtitle}}</h3>
			</div>
			{{end}}
  </div>
</div>

</body>
<script src="/static/main.js"></script>
</html>

